<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #DAE9CF; position: sticky; top:0; z-index: 9;">
        <a class="navbar-brand" href="/browse">
            <img src="assets/logo.png" id="lasalelogo" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="/editprofile">profile</a>
                </li>

                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         listings
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item" href="/mylistings">my listings</a>
                         <a class="dropdown-item" href="/pinnedlistings">pinned listings</a>
                         <a class="dropdown-item" href="/listingparticipation">listing participation</a>
                     </div>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/createlisting">create listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messages?email=none">message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>

            </ul>

            <div class="dropdown" style="margin-right: 20px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  filter items
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="\filter?category=clothes">clothes</a>
                    <a class="dropdown-item" href="\filter?category=food">food and drinks</a>
                    <a class="dropdown-item" href="\filter?category=electronics">electronics</a>
                    <a class="dropdown-item" href="\filter?category=tickets">tickets and coupons</a>
                    <a class="dropdown-item" href="\filter?category=furniture">furniture</a>
                    <a class="dropdown-item" href="\filter?category=beauty">beauty and wellness</a>
                    <a class="dropdown-item" href="\filter?category=books">books</a>
                    <a class="dropdown-item" href="\filter?category=hobbies">hobbies and games</a>
                    <a class="dropdown-item" href="\filter?category=sports">sports</a>
                    <a class="dropdown-item" href="\filter?category=accessories">accessories</a>
                    <a class="dropdown-item" href="\filter?category=media">media</a>
                    <a class="dropdown-item" href="\filter?category=music">music</a>
                    <a class="dropdown-item" href="\filter?category=pets">pets and accessories</a>

                </div>
            </div>
            <div class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="search for an item" aria-label="Search" style="width: 500px;" id="search_item">
                <button class="btn btn-outline-success my-2 my-sm-0" id="search_nav">Search</button>
            </div>
        </div>
    </nav>
