<!DOCTYPE html>
<html lang="en">
<head>
    <title>browselisting</title>
    <!-- BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/browselisting_style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto:300,400,500,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="clock">
        <iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:240px;height:25px; position:fixed; bottom:0; right: 0;"src="https://www.clocklink.com/html5embed.php?clock=018&timezone=GMT0800&color=gray&size=240&Title=&Message=&Target=&From=2020,1,1,0,0,0&DateFormat=yyyy / mm / dd DDD&TimeFormat=hh:mm:ss TT&Color=gray"></iframe>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #DAE9CF; position: sticky; top:0; z-index: 9;">
        <a class="navbar-brand" href="browselisting.html">
            <img src="assets/logo.png" id="lasalelogo" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="editprofile.html">profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="mylistings.html">my listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="createlisting.html">create listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="messages.html">message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="userlogin.html">logout</a>
                </li>
            </ul>
            
            <div class="dropdown" style="margin-right: 20px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  filter items
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">clothes</a>
                    <a class="dropdown-item" href="#">food and drinks</a>
                    <a class="dropdown-item" href="#">electronics</a>
                    <a class="dropdown-item" href="#">tickets and coupons</a>
                    <a class="dropdown-item" href="#">furniture</a>
                    <a class="dropdown-item" href="#">beauty and wellness</a>
                    <a class="dropdown-item" href="#">books</a>
                    <a class="dropdown-item" href="#">hobbies and games</a>
                    <a class="dropdown-item" href="#">sports</a>
                    <a class="dropdown-item" href="#">accessories</a>
                    <a class="dropdown-item" href="#">media</a>
                    <a class="dropdown-item" href="#">music</a>
                    <a class="dropdown-item" href="#">pets and accessories</a>
                </div>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="search for an item" aria-label="Search" style="width: 500px;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <div>
        <div class="container" id="browselistings">
            <h1 id="browse">browse listings</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="card" style="width: 25rem;">
                        <img src="https://www.thesprucepets.com/thmb/jbD_0GJnIVGmnLve7QDe9hCDbPU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp33a24e10lxw100_Medium_214761-5af9d6d7875db900360440a7.jpg" class="card-img-top" alt="product">
                        <div class="card-body">
                            <h5 class="card-title" >kitty cat</h5>
                            <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.</p>
                            <h6 class="prices"><span>100</span>php - <span>1000</span>php</h6>
                            <a href="listing.html" class="btn btn-secondary btn-block bid">    bid</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card" style="width: 25rem;">
                        <img src="https://www.thesprucepets.com/thmb/jbD_0GJnIVGmnLve7QDe9hCDbPU=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/Stocksy_txp33a24e10lxw100_Medium_214761-5af9d6d7875db900360440a7.jpg" class="card-img-top" alt="product">
                        <div class="card-body">
                            <h5 class="card-title" >kitty cat</h5>
                            <p class="card-text" >This is cat. Pls buy him, he needs home. His name is fluffly.</p>
                            <h6 class="prices"><span>100</span>php - <span>1000</span>php</h6>
                            <a href="listing.html" class="btn btn-secondary btn-block bid">bid</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
