<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #DAE9CF; position: sticky; top:0; z-index: 9;">
        <a class="navbar-brand" href="/browse">
            <img src="assets/logo.png" id="lasalelogo" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="/editprofile">profile</a>
                </li>

                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         listings
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item" href="/mylistings">my listings</a>
                         <a class="dropdown-item" href="/pinnedlistings">listing participation</a>
                         <a class="dropdown-item" href="/listingparticipation">pinnesd listings</a>
                     </div>
                    
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="/createlisting">create listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messages">message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
            </ul>
            
            <div class="dropdown" style="margin-right: 20px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  filter items
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">clothes</a>
                    <a class="dropdown-item" href="#">food and drinks</a>
                    <a class="dropdown-item" href="#">electronics</a>
                    <a class="dropdown-item" href="#">tickets and coupons</a>
                    <a class="dropdown-item" href="#">furniture</a>
                    <a class="dropdown-item" href="#">beauty and wellness</a>
                    <a class="dropdown-item" href="#">books</a>
                    <a class="dropdown-item" href="#">hobbies and games</a>
                    <a class="dropdown-item" href="#">sports</a>
                    <a class="dropdown-item" href="#">accessories</a>
                    <a class="dropdown-item" href="#">media</a>
                    <a class="dropdown-item" href="#">music</a>
                    <a class="dropdown-item" href="#">pets and accessories</a>
                </div>
            </div>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="search for an item" aria-label="Search" style="width: 500px;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>